<nav>
	<div class="nav-container container">
		<div class="nav-item">
			<a class="nav-link" href="{{path('app_home')}}">Accueil</a>
		</div>
		<div class="nav-item">
			<a class="nav-link my-auto" href="{{path('app_react')}}">React</a>
		</div>
	</div>
</nav>
